<div class='mb-5'>
  <h1 class='flex justify-center pt-4 text-xl'>Log in to your account</h1>
  <p class='text-center mt-2 text-sm'>
    Enter your credentials to log in and start posting!
  </p>
</div>

<hr/>

<section>
  
  <%= render '/sessions/login_form', user: @user %>
  
</section>