<div class='mb-5'>
  <h1 class='flex justify-center pt-4 text-xl'>Create you user</h1>
  <p class='text-center mt-2 text-sm'>You'll be able to post, comment and vote in our forums</p>
</div>

<hr/>

<section>
  
  <%= render '/users/user_form', user: @user %>
  
</section>