<div>
  <h1 class='flex justify-center py-4 text-xl'>Welcome to our Japan trip community</h1>
</div>

<hr/>

<section class='mt-20 px-8 flex flex-col gap-32'>
  <%= render 'subreddits/subreddits_list' %>
  <%= render 'posts/posts_list' %>
</section>

