<div>
  <h1 class='flex justify-center py-4 text-xl'>Welcome to our Japan trip community</h1>
</div>

<hr/>

<section class='mt-10 px-8 flex flex-col gap-32'>
  <div>
    <h2 class='mb-4 text-center'>Subreddits that might interest you</h2>
    <%= render '/subreddits/subreddits_list', subreddits: @subreddits %>
  </div>

  <div>
    <h2 class='mb-4 text-center'>Posts that might interest you</h2>
    <%= render '/posts/posts_list', posts: @posts  %>
  </div>
</section>

