<div class=''>
  <% if subreddits.empty? %>
  <div>
    <div class='flex justify-center mt-4'>
      <p class='text-sm w-48 border rounded-md border-gray-500 text-gray-400 py-2 px-4 text-center'>
        No subreddits yet
      </p>
    </div>
  </div>

  <% else %>

    <ul class='flex flex-col gap-4'>
      <% subreddits.each do |subreddit|%>
        <li>
          <h3 class='text-sm'>
            <%= subreddit.name %>
          </h3>
          <p class='text-xs font-thin'>
            <%= subreddit.description %>
          </p>

          <%= link_to 'Show more', subreddit, class: "bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline text-xs"%>
        </li>
      <% end %>
    </ul>

  <% end %>
</div>