<div>
  <h1 class='flex justify-center py-4 text-xl'>Posts for subreddit <%=@ subreddit.name %></h1>
</div>

<hr/>

<section>
  <% if @subreddits.empty? %>
    <p class='text-center mt-4'>
      No subreddits yet
    </p>

  <% else %>
    <div class='mt-4 pl-4'>
      <%= render '/subreddits/subreddits_list', subreddits: @subreddits%>
    </div>
  <% end %>
</section>