<div>
  <h1 class='flex justify-center py-4 text-xl'>Posts for subreddit <%= @subreddit.name %></h1>
</div>

<hr/>

<section>
  <% if @posts.empty? %>
    <p class='text-center mt-4'>
      No posts yet
    </p>

  <% else %>
    <div class='mt-4 pl-4'>
       <%= render '/posts/posts_list', posts: @posts  %>
    </div>
  <% end %>
</section>